<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.day.myblog.dto.ReplyMapper">
<!-- <insert id="insert" parameterType="hashmap"> -->
<select id="selectAll" resultType="reply">
SELECT r.id, r.content, r.boardid, r.userid, r.createdate, u.username FROM myblogreply r JOIN mybloguser u ON(r.userid = u.id) WHERE r.boardid=#{boardid} ORDER BY id DESC
</select>
<insert id="insert" parameterType="reply">
INSERT INTO myblogreply(id, content, boardid, userid, createdate)
VALUES (myblogreply_seq.NEXTVAL, #{content}, #{boardid}, #{userid}, SYSDATE)
</insert>
<select id="selectById" parameterType="int" resultType="reply">
SELECT r.id, r.content, r.boardid, r.userid, r.createdate, u.username FROM myblogreply r JOIN mybloguser u ON(r.userid = u.id) WHERE r.id=#{id}
</select>
<delete id="delete" parameterType="int">
DELETE FROM myblogreply WHERE id=#{id}
</delete>
</mapper>

<!-- <insert id="insert" parameterType="user">
INSERT INTO mybloguser(id, username, password, email, role, oauth, createdate)
VALUES (myblog_seq.NEXTVAL, #{username}, #{password}, #{email}, 'USER', #{oauth}, SYSDATE)
</insert>
<select id="selectByName" parameterType="String" resultType="user">
SELECT * FROM mybloguser WHERE username=#{username}
</select>
<select id="selectAll" resultType="user">
SELECT * FROM mybloguser ORDER BY id ASC
</select>
<select id="selectPage" parameterType="java.util.HashMap" resultType="user">
SELECT * 
FROM (
    SELECT rownum rn, a.* 
    FROM (
     SELECT *
     FROM mybloguser  
     ORDER BY id DESC ) a
)
WHERE rn BETWEEN START_ROW(#{currentPage}, #{cnt_per_page}) AND  
                 END_ROW(#{currentPage},   #{cnt_per_page})
</select>
<update id="update" parameterType="user">
UPDATE mybloguser
<set>
  <if test="password !=null and password != ''">password=#{password},</if>
  <if test="email !=null and email != ''">email=#{email},</if>
</set> 
WHERE id=#{id}
</update> -->